:root {
  --btn-padding: 20px 40px;
  --btn-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --btn-border: 1px solid #edd9d5;
  --btn-radius: 4px;
  --btn-font-size: 20px;
  --btn-backgrround: #edd9d5;
}
body {
  background-image: url(/src/white-wall-portfolio.jpg);
  background-size: cover;
}
.main-heading {
  margin-top: 120px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
}
h1 {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
}
h3 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  max-width: 800px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.work-btn,
.about-btn,
.contact-btn {
  padding: var(--btn-padding);
  box-shadow: var(--btn-shadow);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  background-color: var(--btn-backgrround);
}
.main-a {
  margin: 20px 60px;
}
.social {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  margin: auto;
}
.git,
.linkedIn,
.insta {
  margin: 20px 60px;
  font-size: 25px;
}
.social-a {
  text-decoration: none;
  color: black;
}

@media (max-width: 750px) {
  .main-heading {
    margin-top: 50px;
  }
  .buttons {
    margin-top: 20px;
  }
  .main-a {
    margin: 20px 60px;
  }
}
@media (max-width: 550px) {
  .work-btn,
  .about-btn,
  .contact-btn {
    font-size: 15px;
    padding: 10px 10px;
  }
  .main-a {
    margin: 40px 10px;
  }
  .git,
  .linkedIn,
  .insta {
    margin: 20px 20px;
    font-size: 15px;
  }
}

/** work page**/

:root {
  --secondary-btn-padding: 5px 10px;
  --secondary-btn-backgorund: #edd9d5;
  --secondary-btn-border: 1px solid #edd9d5;
  --secondary-btn-border-radius: 4px;
  --secondary-btn-color: black;
}
.secondary-btn {
  padding: var(--secondary-btn-padding);
  background-color: var(--secondary-btn-backgorund);
  border: var(--secondary-btn-border);
  border-radius: var(--secondary-btn-border-radius);
  color: var(--secondary-btn-color);
}
.weather-container,
.world-container,
.croissant-container {
  background-color: #d6b7b6;
  border: 1px solid #d6b7b6 !important;
}

.weather,
.worldClock,
.croissant {
  margin-top: 66px !important;
}
.h2-work {
  margin-top: -50px;
}
.h3-work {
  margin-top: 25px;
}
@media (max-width: 750px) {
  .weather-img {
    margin-top: 10px;
    background-color: white;
    border: none !important;
    border-radius: 4px !important;
    width: 80%;
  }
  .world-img {
    margin-top: 10px;
    background-color: white;
    border: none !important;
    border-radius: 4px !important;
    width: 80%;
  }
  .croissant-img {
    margin-top: 10px;
    background-color: white;
    border-radius: 4px !important;
    width: 80%;
  }
  .secondary-btn:hover {
    transform: none;
    transition: none;
    background-color: #d7a184;
  }
  .weather-img:hover,
  .world-img:hover,
  .croissant-img:hover {
    transform: none;
    transition: none;
  }

  .project-title {
    font-size: 30px;
  }
  .weather-container,
  .world-container,
  .croissant-container {
    border: none !important;
  }
  .weather,
  .croissant,
  .worldClock {
    margin-top: 0px !important;
  }
  .h2-work {
    margin-top: -20px;
  }
}
